div{
    text-align : center ;
    display : block ;
    margin: 100px auto ;
    width : 500px
}
img{
    display : block ;
    width: 300px;
    margin: 20px auto;
}
input{
    line-height: 24px;
    padding: 10px;
    border-radius: 30px;
    display : block ;
    width : 500px ;
    margin: 10px auto;
    border: 1px solid grey;
}


button{
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: rgb(227, 217, 217);
    border: none ;
}